/* Algemene opmaak */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header a {
    flex-shrink: 0;
    background-color: #6c757d;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: auto;
}

.header a:hover {
    background-color: #5a6268;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    margin-right: 110px; 
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table td {
    vertical-align: top;
}

/* Button styling */
.btn-back {
    background-color: #6c757d;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: auto;
}

.btn-back:hover {
    background-color: #3a933a;
}
